<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{{appName}}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8" />
  {{>js_jquery}}
  {{>marked}}
  <script>
    $( document ).ready(function() {
      marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
      });

      function processMarked() {
        $(".marked").each(function() {
          $(this).html(marked($(this).html()));
        });
      }

      //Convert elements with "marked" class to markdown
      processMarked();
    });
  </script>
  <style type="text/css">
    {{>fonts}}
    {{>styles}}
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="sidenav" class="span2">
        <nav id="scrollingNav">
          <ul class="sidenav">
            <li class="">
              <h2>Apis</h2>
            <li>
            {{#apiInfo}}
              {{#apis}}
                  {{#operations}}
                    {{#operation}}
                      {{#responses}}
                        <li class="">
                          <a href="#crd-{{message}}">{{message}}</a>
                        </li>
                      {{/responses}}
                    {{/operation}}
                  {{/operations}}
              {{/apis}}
            {{/apiInfo}}
          </ul>
        </nav>
      </div>
      <div id="content">
        <div id="project">
          <div class="pull-left">
            <p><h1>{{{appName}}}</h1></p>
            <p>{{{appDescription}}}</p>
            <p>
              {{#version}}
                <div class="app-desc">Version: {{{version}}}</div>
              {{/version}}
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id="sections">
            {{#apiInfo}}
              {{#apis}}
                  {{#operations}}
                    {{#operation}}
                      {{#responses}}
                        <section id="crd-{{message}}" class="crd" data="{{message}}">
                        </section>
                      {{/responses}}
                    {{/operation}}
                  {{/operations}}
              {{/apis}}
            {{/apiInfo}}
          </div>
          <script>
            function setRequired(schema) {
              var required=schema.required||[];
              required.forEach(property=>{
                if(!!schema.properties && !!schema.properties[property])
                {
                  schema.properties[property].isRequired=true;
                }
              });
            }

            const renderCrd = (name,schema) => {
              setRequired(schema);
              return `
                <div class="crd-info">
                  <div class="crd-name">${name}</div>
                  <div class="crd-version">${schema.xml.name}/${schema.xml.namespace}</div>
                </div>
                <div class="crd-description">${marked.parse(schema.description||'')}</div>
                <div class="properties-caption">Properties:</div>
                ${renderProperties(schema.properties)}
              `;
            };

            const renderProperty = (name,schema) => {
              var nameSection=!name?'':`
                <td class="prop-name">
                  ${name||''}
                </td>
              `;

              var typeSection = `
                <td class="prop-type-info">
                  <p class="prop-type">${schema.type||''}</p>
                  ${!schema.enum?'':`<p class="prop-enum">Enum: ${schema.enum.map(v=>`"${v}"`).join(', ')}</p>`}
                  ${!schema.isRequired?'':'<p class="prop-required">required</p>'}
                  ${!schema.default?'':`<p class="prop-default">Default: ${JSON.stringify(schema.default)}</p>`}
                </td>
              `;

              var descriptionSection=`
                <td class="prop-description">
                  ${marked.parse(schema.description||'')}
                </td>
              `;

              var propDiv=`<tr class="prop-div"><td colspan="100%"></td></tr>`;

              var propInfo=`
                <tr class="prop-info">
                        ${nameSection}
                        ${typeSection}
                        ${descriptionSection}
                </tr>
              `;

              switch(schema.type)
              {
                case 'object':
                  setRequired(schema);
                  return propInfo+
                    (!schema.additionalProperties?'':`
                      <tr class="prop-properties">
                        <td class=""></td>
                        <td colspan="100%" class="prop-additionalProperties">*Allows additional properties</td>
                      </tr>`)+(Object.keys(schema.properties||{}).length==0?'':`
                    <tr class="prop-properties">
                        <td class="prop-properties-caption">Properties</td>
                        <td colspan="100%">${renderProperties(schema.properties||{})}</td>
                    </tr>
                  `)+propDiv;
                  break;
                case 'array':
                  return propInfo+`
                    <tr class="prop-items">
                    <td class="prop-properties-caption">Items</td>
                        <td colspan="100%">${renderProperties({'':schema.items||{}})}</td>
                    </tr>
                    ${propDiv}
                  `;
                  break;
                default:
                  return propInfo+propDiv;
                  break;
              }
            };

            const renderProperties = (properties) => {
              return `<table class="schema">`+Object.keys(properties).map(key=>renderProperty(key,properties[key])).join(' ')+`</table>`;
            };

            $(document).ready(function () {
              $(".crd").each(function( index ) {
                var crd=this.getAttribute("data");
                $(this).html(renderCrd(crd,defs[crd]));
              });

              if(window.location.hash) {
                var id = window.location.hash;
                if ($(id).length > 0) {
                  $("html").animate({scrollTop:parseInt($(id).offset().top)},0);
                }
              }
            });
          </script>
          <div id="footer">
            <div id="api-_footer">
              <p>
                {{#infoUrl}}
                  <div class="app-desc">Auto generated by <a target="_blank" href="https://github.com/srfrnk/crd-api-doc-gen">crd-api-doc-gen</a></div>
                {{/infoUrl}}
              </p>
            </div>
          </div>
          {{^hideGenerationTimestamp}}
          <div id="generator">
          <div class="content">
            Generated {{generatedDate}}
          </div>
        </div>
        {{/hideGenerationTimestamp}}
      </div>
    </div>
  </div>
  {{>js_json_schema_ref_parser}}
  {{>js_webfontloader}}
  <script>
    // Script section to load models into a JS Var
    var defs = {}
    {{#models}}
    {{#model}}
    defs["{{name}}"] = {{{modelJson}}};
    {{/model}}
    {{/models}}
    var schemaWrapper = { "components": { "schemas" : defs}};
    defsParser = new $RefParser();
    defsParser.dereference(schemaWrapper).catch(function(err) {
      console.log(err);
    });
  </script>
</body>
</html>
